<!doctype html>
<html lang="{{ site.LanguageCode | default "en-us" }}">
  {{ partial "head" . }}
  <body
    class="flex h-dvh flex-col overflow-hidden break-words bg-uwu-mantle text-sm leading-relaxed text-uwu-text antialiased selection:bg-uwu-overlay2/30 md:text-base lg:text-lg xl:text-xl"
  >
    {{ partial "scripts-blocking" . }}

    {{ partial "skip-navigation" . }}
    {{ partial "body-header" . }}

    <main
      id="main"
      class="space-inline-4 sm:space-inline-5 md:space-inline-6 lg:space-inline-8 w-full flex-1 overflow-x-scroll whitespace-nowrap text-center"
    >
      {{ $id := (trim (replaceRE `[^a-z-]` "-" .RelPermalink) "-") | default "index" }}
      {{ $data := dict "pathname" .RelPermalink "math" (.Params.math | default false | cast.ToString) }}
      {{ $dataAttributes := slice }}
      {{ range $key, $value := $data }}
        {{ $dataAttributes = $dataAttributes | append (printf "data-%s=\"%s\"" $key $value) }}
      {{ end }}
      {{ $dataAttributes = delimit $dataAttributes " " }}

      <article
        id="{{ $id }}"
        class="h-entry group relative inline-block h-[calc(100%_-_12px)] w-[calc(100vw_-_48px)] overflow-y-scroll whitespace-normal bg-uwu-base text-start shadow-sm only:w-full only:max-w-screen-xl sm:sticky sm:start-0 sm:w-article-container sm:shadow-md md:shadow-lg lg:shadow-xl dark:shadow-black dark:sm:shadow-black dark:md:shadow-black dark:lg:shadow-black"
        {{ $dataAttributes | safeHTMLAttr }}
      >
        <div
          class="e-content prose prose-sm max-w-article-content px-4 py-6 md:prose-base lg:prose-lg xl:prose-xl prose-a:transition-colors prose-img:mx-auto prose-video:mx-auto hocus:prose-a:text-uwu-blue/85 sm:px-5 sm:py-8 md:px-6 md:py-10 lg:px-8 lg:py-12 dark:prose-img:brightness-80 dark:prose-img:contrast-120 dark:prose-video:brightness-80 dark:prose-video:contrast-120"
        >
          {{ block "article-header" . }}{{ end }}
          {{ block "article-main" . }}{{ end }}
          {{ block "article-footer" . }}{{ end }}
        </div>

        <div class="absolute end-0 top-0 flex gap-4 group-[:first-child]:hidden">
          <button
            type="button"
            aria-labelledby="{{ $id }}-close"
            class="m-3 block p-1 text-uwu-subtext0 transition-colors focus-visible:outline-uwu-subtext1 hocus:text-uwu-subtext1 sm:m-4 md:m-5 lg:m-7"
            data-action="close"
          >
            <svg viewbox="0 0 384 512" fill="currentColor" class="h-4 w-4 sm:h-5 sm:w-5 md:h-6 md:w-6 lg:h-8 lg:w-8">
              <title id="{{ $id }}-close">Close article</title>
              {{ partial "utils/sprite" (dict "name" "close") }}
            </svg>
          </button>
        </div>
      </article>
    </main>

    {{ partial "scripts-non-blocking" . }}
  </body>
</html>
