@layer base {
  :root {
    --latte-rosewater: 220 138 120;
    --latte-flamingo: 221 120 120;
    --latte-pink: 234 118 203;
    --latte-mauve: 136 57 239;
    --latte-red: 210 15 57;
    --latte-maroon: 230 69 83;
    --latte-peach: 254 100 11;
    --latte-yellow: 223 142 29;
    --latte-green: 64 160 43;
    --latte-teal: 23 146 153;
    --latte-sky: 4 165 229;
    --latte-sapphire: 32 159 181;
    --latte-blue: 30 102 245;
    --latte-lavender: 114 135 253;
    --latte-text: 76 79 105;
    --latte-subtext1: 92 95 119;
    --latte-subtext0: 108 111 133;
    --latte-overlay2: 124 127 147;
    --latte-overlay1: 140 143 161;
    --latte-overlay0: 156 160 176;
    --latte-surface2: 172 176 190;
    --latte-surface1: 188 192 204;
    --latte-surface0: 204 208 218;
    --latte-base: 239 241 245;
    --latte-mantle: 230 233 239;
    --latte-crust: 220 224 232;
    --latte-shadow: 0 0 0;
    --latte-shadow-alpha: 0.05;

    --frappe-rosewater: 242 213 207;
    --frappe-flamingo: 238 190 190;
    --frappe-pink: 244 184 228;
    --frappe-mauve: 202 158 230;
    --frappe-red: 231 130 132;
    --frappe-maroon: 234 153 156;
    --frappe-peach: 239 159 118;
    --frappe-yellow: 229 200 144;
    --frappe-green: 166 209 137;
    --frappe-teal: 129 200 190;
    --frappe-sky: 153 209 219;
    --frappe-sapphire: 133 193 220;
    --frappe-blue: 140 170 238;
    --frappe-lavender: 186 187 241;
    --frappe-text: 198 208 245;
    --frappe-subtext1: 181 191 226;
    --frappe-subtext0: 165 173 206;
    --frappe-overlay2: 148 156 187;
    --frappe-overlay1: 131 139 167;
    --frappe-overlay0: 115 121 148;
    --frappe-surface2: 98 104 128;
    --frappe-surface1: 81 87 109;
    --frappe-surface0: 65 69 89;
    --frappe-base: 48 52 70;
    --frappe-mantle: 41 44 60;
    --frappe-crust: 35 38 52;
    --frappe-shadow: 0 0 0;
    --frappe-shadow-alpha: 0.35;

    --macchiato-rosewater: 244 219 214;
    --macchiato-flamingo: 240 198 198;
    --macchiato-pink: 245 189 230;
    --macchiato-mauve: 198 160 246;
    --macchiato-red: 237 135 150;
    --macchiato-maroon: 238 153 160;
    --macchiato-peach: 245 169 127;
    --macchiato-yellow: 238 212 159;
    --macchiato-green: 166 218 149;
    --macchiato-teal: 139 213 202;
    --macchiato-sky: 145 215 227;
    --macchiato-sapphire: 125 196 228;
    --macchiato-blue: 138 173 244;
    --macchiato-lavender: 183 189 248;
    --macchiato-text: 202 211 245;
    --macchiato-subtext1: 184 192 224;
    --macchiato-subtext0: 165 173 203;
    --macchiato-overlay2: 147 154 183;
    --macchiato-overlay1: 128 135 162;
    --macchiato-overlay0: 110 115 141;
    --macchiato-surface2: 91 96 120;
    --macchiato-surface1: 73 77 100;
    --macchiato-surface0: 54 58 79;
    --macchiato-base: 36 39 58;
    --macchiato-mantle: 30 32 48;
    --macchiato-crust: 24 25 38;
    --macchiato-shadow: 0 0 0;
    --macchiato-shadow-alpha: 0.4;

    --mocha-rosewater: 245 224 220;
    --mocha-flamingo: 242 205 205;
    --mocha-pink: 245 194 231;
    --mocha-mauve: 203 166 247;
    --mocha-red: 243 139 168;
    --mocha-maroon: 235 160 172;
    --mocha-peach: 250 179 135;
    --mocha-yellow: 249 226 175;
    --mocha-green: 166 227 161;
    --mocha-teal: 148 226 213;
    --mocha-sky: 137 220 235;
    --mocha-sapphire: 116 199 236;
    --mocha-blue: 137 180 250;
    --mocha-lavender: 180 190 254;
    --mocha-text: 205 214 244;
    --mocha-subtext1: 186 194 222;
    --mocha-subtext0: 166 173 200;
    --mocha-overlay2: 147 153 178;
    --mocha-overlay1: 127 132 156;
    --mocha-overlay0: 108 112 134;
    --mocha-surface2: 88 91 112;
    --mocha-surface1: 69 71 90;
    --mocha-surface0: 49 50 68;
    --mocha-base: 30 30 46;
    --mocha-mantle: 24 24 37;
    --mocha-crust: 17 17 27;
    --mocha-shadow: 0 0 0;
    --mocha-shadow-alpha: 0.45;
  }

  :root {
    --uwu-rosewater: var(--mocha-rosewater);
    --uwu-flamingo: var(--mocha-flamingo);
    --uwu-pink: var(--mocha-pink);
    --uwu-mauve: var(--mocha-mauve);
    --uwu-red: var(--mocha-red);
    --uwu-maroon: var(--mocha-maroon);
    --uwu-peach: var(--mocha-peach);
    --uwu-yellow: var(--mocha-yellow);
    --uwu-green: var(--mocha-green);
    --uwu-teal: var(--mocha-teal);
    --uwu-sky: var(--mocha-sky);
    --uwu-sapphire: var(--mocha-sapphire);
    --uwu-blue: var(--mocha-blue);
    --uwu-lavender: var(--mocha-lavender);
    --uwu-text: var(--mocha-text);
    --uwu-subtext1: var(--mocha-subtext1);
    --uwu-subtext0: var(--mocha-subtext0);
    --uwu-overlay2: var(--mocha-overlay2);
    --uwu-overlay1: var(--mocha-overlay1);
    --uwu-overlay0: var(--mocha-overlay0);
    --uwu-surface2: var(--mocha-surface2);
    --uwu-surface1: var(--mocha-surface1);
    --uwu-surface0: var(--mocha-surface0);
    --uwu-base: var(--mocha-base);
    --uwu-mantle: var(--mocha-mantle);
    --uwu-crust: var(--mocha-crust);
    --uwu-shadow: var(--mocha-shadow);
    --uwu-shadow-alpha: var(--mocha-shadow-alpha);
  }

  @media (prefers-color-scheme: light) {
    :root {
      --uwu-rosewater: var(--latte-rosewater);
      --uwu-flamingo: var(--latte-flamingo);
      --uwu-pink: var(--latte-pink);
      --uwu-mauve: var(--latte-mauve);
      --uwu-red: var(--latte-red);
      --uwu-maroon: var(--latte-maroon);
      --uwu-peach: var(--latte-peach);
      --uwu-yellow: var(--latte-yellow);
      --uwu-green: var(--latte-green);
      --uwu-teal: var(--latte-teal);
      --uwu-sky: var(--latte-sky);
      --uwu-sapphire: var(--latte-sapphire);
      --uwu-blue: var(--latte-blue);
      --uwu-lavender: var(--latte-lavender);
      --uwu-text: var(--latte-text);
      --uwu-subtext1: var(--latte-subtext1);
      --uwu-subtext0: var(--latte-subtext0);
      --uwu-overlay2: var(--latte-overlay2);
      --uwu-overlay1: var(--latte-overlay1);
      --uwu-overlay0: var(--latte-overlay0);
      --uwu-surface2: var(--latte-surface2);
      --uwu-surface1: var(--latte-surface1);
      --uwu-surface0: var(--latte-surface0);
      --uwu-base: var(--latte-base);
      --uwu-mantle: var(--latte-mantle);
      --uwu-crust: var(--latte-crust);
      --uwu-shadow: var(--latte-shadow);
      --uwu-shadow-alpha: var(--latte-shadow-alpha);
    }
  }

  :root.latte {
    --uwu-rosewater: var(--latte-rosewater);
    --uwu-flamingo: var(--latte-flamingo);
    --uwu-pink: var(--latte-pink);
    --uwu-mauve: var(--latte-mauve);
    --uwu-red: var(--latte-red);
    --uwu-maroon: var(--latte-maroon);
    --uwu-peach: var(--latte-peach);
    --uwu-yellow: var(--latte-yellow);
    --uwu-green: var(--latte-green);
    --uwu-teal: var(--latte-teal);
    --uwu-sky: var(--latte-sky);
    --uwu-sapphire: var(--latte-sapphire);
    --uwu-blue: var(--latte-blue);
    --uwu-lavender: var(--latte-lavender);
    --uwu-text: var(--latte-text);
    --uwu-subtext1: var(--latte-subtext1);
    --uwu-subtext0: var(--latte-subtext0);
    --uwu-overlay2: var(--latte-overlay2);
    --uwu-overlay1: var(--latte-overlay1);
    --uwu-overlay0: var(--latte-overlay0);
    --uwu-surface2: var(--latte-surface2);
    --uwu-surface1: var(--latte-surface1);
    --uwu-surface0: var(--latte-surface0);
    --uwu-base: var(--latte-base);
    --uwu-mantle: var(--latte-mantle);
    --uwu-crust: var(--latte-crust);
    --uwu-shadow: var(--latte-shadow);
    --uwu-shadow-alpha: var(--latte-shadow-alpha);
  }

  :root.frappe {
    --uwu-rosewater: var(--frappe-rosewater);
    --uwu-flamingo: var(--frappe-flamingo);
    --uwu-pink: var(--frappe-pink);
    --uwu-mauve: var(--frappe-mauve);
    --uwu-red: var(--frappe-red);
    --uwu-maroon: var(--frappe-maroon);
    --uwu-peach: var(--frappe-peach);
    --uwu-yellow: var(--frappe-yellow);
    --uwu-green: var(--frappe-green);
    --uwu-teal: var(--frappe-teal);
    --uwu-sky: var(--frappe-sky);
    --uwu-sapphire: var(--frappe-sapphire);
    --uwu-blue: var(--frappe-blue);
    --uwu-lavender: var(--frappe-lavender);
    --uwu-text: var(--frappe-text);
    --uwu-subtext1: var(--frappe-subtext1);
    --uwu-subtext0: var(--frappe-subtext0);
    --uwu-overlay2: var(--frappe-overlay2);
    --uwu-overlay1: var(--frappe-overlay1);
    --uwu-overlay0: var(--frappe-overlay0);
    --uwu-surface2: var(--frappe-surface2);
    --uwu-surface1: var(--frappe-surface1);
    --uwu-surface0: var(--frappe-surface0);
    --uwu-base: var(--frappe-base);
    --uwu-mantle: var(--frappe-mantle);
    --uwu-crust: var(--frappe-crust);
    --uwu-shadow: var(--frappe-shadow);
    --uwu-shadow-alpha: var(--frappe-shadow-alpha);
  }

  :root.macchiato {
    --uwu-rosewater: var(--macchiato-rosewater);
    --uwu-flamingo: var(--macchiato-flamingo);
    --uwu-pink: var(--macchiato-pink);
    --uwu-mauve: var(--macchiato-mauve);
    --uwu-red: var(--macchiato-red);
    --uwu-maroon: var(--macchiato-maroon);
    --uwu-peach: var(--macchiato-peach);
    --uwu-yellow: var(--macchiato-yellow);
    --uwu-green: var(--macchiato-green);
    --uwu-teal: var(--macchiato-teal);
    --uwu-sky: var(--macchiato-sky);
    --uwu-sapphire: var(--macchiato-sapphire);
    --uwu-blue: var(--macchiato-blue);
    --uwu-lavender: var(--macchiato-lavender);
    --uwu-text: var(--macchiato-text);
    --uwu-subtext1: var(--macchiato-subtext1);
    --uwu-subtext0: var(--macchiato-subtext0);
    --uwu-overlay2: var(--macchiato-overlay2);
    --uwu-overlay1: var(--macchiato-overlay1);
    --uwu-overlay0: var(--macchiato-overlay0);
    --uwu-surface2: var(--macchiato-surface2);
    --uwu-surface1: var(--macchiato-surface1);
    --uwu-surface0: var(--macchiato-surface0);
    --uwu-base: var(--macchiato-base);
    --uwu-mantle: var(--macchiato-mantle);
    --uwu-crust: var(--macchiato-crust);
    --uwu-shadow: var(--macchiato-shadow);
    --uwu-shadow-alpha: var(--macchiato-shadow-alpha);
  }

  :root.mocha {
    --uwu-rosewater: var(--mocha-rosewater);
    --uwu-flamingo: var(--mocha-flamingo);
    --uwu-pink: var(--mocha-pink);
    --uwu-mauve: var(--mocha-mauve);
    --uwu-red: var(--mocha-red);
    --uwu-maroon: var(--mocha-maroon);
    --uwu-peach: var(--mocha-peach);
    --uwu-yellow: var(--mocha-yellow);
    --uwu-green: var(--mocha-green);
    --uwu-teal: var(--mocha-teal);
    --uwu-sky: var(--mocha-sky);
    --uwu-sapphire: var(--mocha-sapphire);
    --uwu-blue: var(--mocha-blue);
    --uwu-lavender: var(--mocha-lavender);
    --uwu-text: var(--mocha-text);
    --uwu-subtext1: var(--mocha-subtext1);
    --uwu-subtext0: var(--mocha-subtext0);
    --uwu-overlay2: var(--mocha-overlay2);
    --uwu-overlay1: var(--mocha-overlay1);
    --uwu-overlay0: var(--mocha-overlay0);
    --uwu-surface2: var(--mocha-surface2);
    --uwu-surface1: var(--mocha-surface1);
    --uwu-surface0: var(--mocha-surface0);
    --uwu-base: var(--mocha-base);
    --uwu-mantle: var(--mocha-mantle);
    --uwu-crust: var(--mocha-crust);
    --uwu-shadow: var(--mocha-shadow);
    --uwu-shadow-alpha: var(--mocha-shadow-alpha);
  }
}
