{{ $res := .res }}
{{ $src := .src }}
{{ $alt := .alt | default "" }}
{{ $caption := .caption }}
{{ $class := .class }}
{{ $loading := .loading | default "lazy" }}

{{ $ext := $src | path.Ext | replaceRE `^\.` "" }}
{{ $density := $src | replaceRE `^.+@(\d+)x\..+$` "$1" | float }}
{{ $width := .width | default (int (div $res.Width $density)) }}
{{ $height := .height | default (int (div $res.Height $density)) }}

{{ $srcsetBreakpoints := slice (mul 448 $density) (mul 768 $density) }}
{{ $sizesBreakpoints := slice
  (dict "width" 1024 "expr" "calc(65ch - 4rem)")
  (dict "width"  768 "expr" "calc(65ch - 3rem)")
  (dict "width"  640 "expr" "calc(65ch - 2.5rem)")
  (dict "width"  572 "expr" "calc(65ch - 2rem)")
}}

{{ $srcset := slice }}
{{ range $srcsetBreakpoints }}
  {{ if lt (mul 1.1 .) $res.Width }}
    {{ $thumb := $res.Resize (printf "%dx webp" (int .)) }}
    {{ $srcset = $srcset | append (printf "%s %dw" $thumb.RelPermalink (int .)) }}
  {{ end }}
{{ end }}
{{ if lt (len $srcset) (len $srcsetBreakpoints) }}
  {{ $srcset = $srcset | append (printf "%s %dw" $res.RelPermalink $res.Width) }}
{{ end }}
{{ $srcset = delimit $srcset ", " }}

{{ $sizes := slice }}
{{ range $sizesBreakpoints }}
  {{ $sizes = $sizes | append (printf "(min-width: %dpx) %s" .width .expr) }}
{{ end }}
{{ $sizes = $sizes | append "calc(100vw - 2rem)" }}
{{ $sizes = delimit $sizes ", " }}

<figure class="{{ $class }}">
  <picture>
    <source
      type="image/webp"
      {{ printf " srcset=\"%s\"" $srcset | safeHTMLAttr }}
      {{ if $sizes }}{{ printf " sizes=\"%s\"" $sizes | safeHTMLAttr }}{{ end }}
    />
    <img
      alt="{{ $alt }}"
      width="{{ $width }}"
      height="{{ $height }}"
      src="{{ $res.RelPermalink }}"
      loading="{{ $loading }}"
    />
  </picture>
  {{ with $caption }}
    <figcaption>
      {{ . | markdownify }}
    </figcaption>
  {{ end }}
</figure>
