<button
  popovertarget="menu"
  class="flex items-center gap-2 py-2 font-bold text-uwu-subtext0 transition-colors focus-visible:outline-uwu-subtext1 hocus:text-uwu-subtext1 supports-anchor:anchor-name-[menu-button]"
>
  Menu
  <svg aria-hidden="true" viewBox="0 0 512 512" fill="currentColor" class="h-auto w-3">
    {{ partial "utils/sprite" (dict "name" "chevron-down") }}
  </svg>
</button>

<nav
  aria-label="main"
  popover="auto"
  id="menu"
  class="mx-0 mb-0 mt-1 bg-uwu-base px-4 py-0 text-right shadow-lg shadow-uwu-shadow supports-anchor:anchor-position-[menu-button]"
>
  {{ partial "utils/nav-links" . }}
</nav>
